:root {
  --color-primary: #15aabf;
  --bg-black: #000;
}
/* Utilidades */
.color-first {
  background-color: var(--color-primary);
}
.bg-black {
  background-color: var(--bg-black);
}
hr.border-first {
  background-color: var(--color-primary);
}
.transition {
  transition:0.8s ease; }             
                
                
/* Header */
@media screen and (max-width: 380px) {
  .text-logo {
    font-size: 28px;
  }
}
.img-first,
.img-second,
.img-third {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
}
.img-first {
  background-image: url(../img/carousel1.jpg);
}
.img-second {
  background-image: url(../img/carousel2.jpg);
}
.img-third {
  background-image: url(../img/carousel3.jpg);
}

.section-stream1 .play {
  width: 25%;
  position: absolute;
  top: 1000px;
  left: 80px;
}
.section-stream2 .play {
  width: 10%;
  position: absolute;
  top: 500px;
  right: 80px;
  scale: 50%;
}